@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #0a0a0a;
  color: white;
  font-family: 'Montserrat', sans-serif;

  /* Disable double tap to zoom in iOS Safari */
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-touch-callout: none;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}
