@mixin align {
  padding-left: 24px;
  padding-right: 24px;
}

@mixin round-corner($variant: 'S') {
  $border-radius-map: (
    'S': 4px,
    'L': 16px,
  );
  border-radius: map-get($border-radius-map, $variant);
}

@mixin background-blur {
  backdrop-filter: blur(20px);
  background-color: $surface1;
}

$text1: #fff;
$text2: rgba(#fff, 0.8);
$text3: rgba(#fff, 0.4);
$error: #da5019;
$background1: #000;
$surface1: rgba(#fff, 0.1);
$primary: #1428ff;
$shade: rgba(#222, 0.6);

$typography-s: 13px;
$typography-m: 15px;
$typography-l: 18px;
