@mixin align {
  padding-left: 24px;
  padding-right: 24px;
}

$border-radius-map: (
  'S': 8px,
  'L': 16px,
  'MAX': 9999999px,
);
@mixin round-corner($variant: 'S') {
  border-radius: map-get($border-radius-map, $variant);
}

@mixin background-blur($variant: 'default') {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: map-get($background-blur-color-map, $variant);
}

@mixin bloom($color, $alpha: 0.3) {
  box-shadow: 0 6px 16px rgba($color, $alpha);
}

@mixin lane-grid {
  display: grid;
  grid: auto / 20px repeat(5, 1fr);
  justify-content: stretch;
}

$text1: #fff;
$text2: rgba(#fff, 0.7);
$text3: rgba(#fff, 0.4);
$text4: rgba(#000, 0.6);
$error: #da5019;
$info: #0088ff;
$warning: #ff8023;
$background1: #0a0a0a;
$surface1: rgba(#fff, 0.07);
$surface2: rgba(#fff, 0.9);
$surface3: rgba(#000, 0.6);
$surface2-stroke: rgba(#000, 0.1);
$primary: #1428ff;
$shade: rgba(#333, 0.6);

$typography-xs: 12px;
$typography-s: 13px;
$typography-m: 15px;
$typography-l: 18px;

$vocal: #d900ff;
$visual: #ff8023;
$dance: #0088ff;

$background-blur-color-map: (
  'default': $surface1,
  'blend': rgba(#000, 0.2),
);
