$skill-border: 2px;

@mixin skill($size, $color, $top) {
  position: absolute;
  top: calc($top - $size / 2);
  left: calc(50% - $size / 2);
  border: $skill-border solid $color;
  width: $size;
  height: $size;
  border-radius: 100%;
}
